{% load static %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="icon" href="{% static 'global_static/Pics/page_icon.png' %}">
        <title>Abdelrahman - Portfolio</title>
        <base href="/" />
        
        <link rel="stylesheet" href="{% static 'global_static/bootstrap/css/bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static 'portofolio/css/global-responsive.css' %}" />
        <link rel="stylesheet" href="{% static 'portofolio/css/home.css' %}" />
        <script src="{% static 'global_static/bootstrap/js/bootstrap.bundle.js' %}"></script>
    </head>

    <body class="switched-color-background">
    	<div class="box" style="width: 50%; margin: auto; text-align: center;">
    		<h1 class="switched-color-headers">404 <br> Page Not Found!</h1>
    		<p class="switched-color-normals">Took a bad exit? Try to start again</p>
    		<span>
    			<a href="/portofolio/" class="social-media">Portfolio</a>
    			&nbsp;&nbsp;&nbsp;&nbsp;
    			<a href="/blog/" class="social-media">Blog</a>
    		</span>
    	</div>
    </body>
</html>