{% load static %}

<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="icon" href="{% static 'global_static/Pics/page_icon.png' %}">
        <title>Abdelrahman - Portfolio</title>
        
        <link rel="stylesheet" type="text/css" href="css/global-responsive.css" />
        <link rel="stylesheet" type="text/css" href="css/home.css" />
        <script src="js/dynamic.js"></script>
        <script src="js/home.js"></script>
    </head>
    
    <body class="switched-color-background" onscroll="dynamic_navbar()">    
        <!-- *********** Start Navigation Bar *********** -->
        <header>
            <nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-expand-md-edited switched-color-navbar" role="navigation">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">XZANATOL</a>
                    <!-- Start Mobile Navbar Button -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- End Mobile Navbar Button -->
                    <div class="collapse navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                            <li class="nav-item">
                                <a class="nav-link active" id="sec1" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="sec2" href="#Resume">Resume</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="sec3" href="#Projects">Projects</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="sec4" href="#Blog">Blog</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="sec5" href="#Contact">Contact</a>
                            </li>
                        </ul>
                        <!-- Start Dark-Light Theme button -->
                        <label class="switch justify-content-center" style="margin-right: 2%; display: block;">
                            <input type="checkbox" class="checkbox" onchange="switch_themes(this.checked)">
                            <span class="toggle-thumb switched-color-navbar">
                                <span>
                                    &nbsp
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" fill="currentColor" class="bi bi-moon" style="color:rgb(255 255 255 / 75%);" viewBox="0 0 16 16">
                                        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"/>
                                    </svg>
                                </span>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" fill="currentColor" class="bi bi-sun" style="color:rgb(255 255 255 / 75%);" viewBox="0 0 16 16">
                                        <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
                                    </svg>&nbsp
                                    </span>
                            </span>
                        </label>
                        <!-- End Dark-Light Theme button -->
                    </div>
                </div>
            </nav>
        </header>
        <!-- *********** End Navigation Bar *********** -->

        <!-- *********** Start Main Content *********** -->
        <main class="container">
            <!-- ********* Start Portfolio-Card ********* -->
            <section id="Portfolio-Card" class="box">
                <div class="row">
                    <div class="col-xs-12 col-lg-4 col-xl-3" style="text-align: center;">
                        <img class="profile-container img-fluid" src="{% static 'portofolio/pics/portofolio.jpg' %}" alt="My Portfolio Picture" title="That's me! :p" />
                    </div>
                    <div class="col-xs-12 col-lg-8 col-xl-9" style="text-align: center;">
                        <h1 class="switched-color-headers">Abdelrahman Walied _</h1>
                        <p class="switched-color-normals">Software/Backend Engineer, DevOps</p>
                        <br />
                        <br class="d-none d-lg-block" />
                        <!-- Social Media Icons -->
                        <!-- LinkedIn -->
                        <button class="social-media button-hover-dark" title="LinkedIn" onclick="window.open('https://www.linkedin.com/in/xzanatol','_blank')">
                            <a href="https://www.linkedin.com/in/xzanatol" target="_blank" class="social-media">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16" style="margin-bottom:3px;">
                                    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                                </svg>
                                <span>LinkedIn</span>
                            </a>
                        </button>
                        <!-- GitHub -->
                        <button class="social-media button-hover-dark" title="GitHub" onclick="window.open('https://www.github.com/XZANATOL','_blank')">
                            <a href="https://www.github.com/XZANATOL" target="_blank" class="social-media">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16" style="margin-bottom:1px;">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                </svg>
                                <span>GitHub</span>
                            </a>
                        </button>
                        <!-- G-Mail -->
                        <button class="social-media button-hover-dark" title="Google Mail">
                            <a href="mailto: abdelrahmanbedox@gmail.com" target="_blank" class="social-media">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16" style="margin-bottom:1px;">
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                                </svg>
                                <span>G-Mail</span>
                            </a>
                        </button>
                        <!-- Discord -->
                        <button class="social-media button-hover-dark" title="Discord ID: Click to copy to clipboard" onclick="copy_to_clip('XZANATOL#1411')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="currentColor" class="bi bi-discord" viewBox="0 0 16 16" style="margin-bottom:1px;">
                                    <path d="M6.552 6.712c-.456 0-.816.4-.816.888s.368.888.816.888c.456 0 .816-.4.816-.888.008-.488-.36-.888-.816-.888zm2.92 0c-.456 0-.816.4-.816.888s.368.888.816.888c.456 0 .816-.4.816-.888s-.36-.888-.816-.888z"/>
                                    <path d="M13.36 0H2.64C1.736 0 1 .736 1 1.648v10.816c0 .912.736 1.648 1.64 1.648h9.072l-.424-1.48 1.024.952.968.896L15 16V1.648C15 .736 14.264 0 13.36 0zm-3.088 10.448s-.288-.344-.528-.648c1.048-.296 1.448-.952 1.448-.952-.328.216-.64.368-.92.472-.4.168-.784.28-1.16.344a5.604 5.604 0 0 1-2.072-.008 6.716 6.716 0 0 1-1.176-.344 4.688 4.688 0 0 1-.584-.272c-.024-.016-.048-.024-.072-.04-.016-.008-.024-.016-.032-.024-.144-.08-.224-.136-.224-.136s.384.64 1.4.944c-.24.304-.536.664-.536.664-1.768-.056-2.44-1.216-2.44-1.216 0-2.576 1.152-4.664 1.152-4.664 1.152-.864 2.248-.84 2.248-.84l.08.096c-1.44.416-2.104 1.048-2.104 1.048s.176-.096.472-.232c.856-.376 1.536-.48 1.816-.504.048-.008.088-.016.136-.016a6.521 6.521 0 0 1 4.024.752s-.632-.6-1.992-1.016l.112-.128s1.096-.024 2.248.84c0 0 1.152 2.088 1.152 4.664 0 0-.68 1.16-2.448 1.216z"/>
                                </svg>
                                <span>XZANATOL#1411</span>
                        </button>
                    </div>
                    <!-- Greetings -->
                    <div class="col-xs-12">
                        <br>
                        <h2 class="switched-color-headers">Greetings! _</h2>
                        <p class="switched-color-normals" style="text-align: justify;">
                            I'm a junior software developer interested in Backend Development and DevOps, and building my precense from the ground up - from the concept of how internet operates, how requests & responses are handled, and programmed to how to host, mantain, and monitor a web application along with being familiar with how frontend works. Currently, I'm putting my efforts into securing an internship opportunity to gain industry experience, and apply my knowledge in real world tasks.
                        </p>
                    </div>
                    <!-- Resume Download Link -->
                    <button class="social-media button-hover-dark" onclick="window.open('https://drive.google.com/drive/folders/1ptOZvg4sYkfQAx0Nn4J_HkaxNKLEFdTk?usp=sharing','_blank')">
                        <a href="https://drive.google.com/drive/folders/1ptOZvg4sYkfQAx0Nn4J_HkaxNKLEFdTk?usp=sharing" target="_blank" class="social-media">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16" style="margin-bottom:4px;">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                            </svg>
                            <span>Download CV</span>
                        </a>
                    </button>
                </div>
            </section>
            <!-- ********* End Portfolio-Card ********* -->

            <br id="Resume">
            <br>
            <br>

            <!-- ********* Start Resume ********* -->
            <section class="container" id="dynamic-resume">
                <div class="row">
                    <!-- ********* Resume Intro ********* -->
                    <h2 class="switched-color-headers" style="text-align: center;">Resume _</h2>
                    <p class="switched-color-normals" style="text-align: center;">
                        I'm a third year undergraduate pursuing my Bachelor's degree in Electronics & Communications Engineering. I've experience in software & back-end development, as well as DevOps skills with a strong networking background. Skilled at writing well-designed, efficient, well-documented code using best practices in clean code. Fast learner, hard worker, and great team player.
                    </p>
                    <!-- ********* Work Experience ********* -->
                    <div class="col-xs-12 col-md-6">
                        <hr class="switched-color-headers">
                        <h3 class="switched-color-headers">Work Experience</h3>
                        <div class="box">
                            {% for role in work_exp %}
                                <div class="row gx-5">
                                    <div class="col-2 dis-n record-border"></div>
                                    <div class="col-1 dis-y record-border"></div>
                                    <div class="col-1 dis-y"></div>
                                    <div class="col-10">
                                        <h5 class="switched-color-headers">{{ role.title }}</h5>
                                        <p class="switched-color-normals">
                                            <span>{{ role.company }}</span>
                                            <br>
                                            <span>{{ role.date }}</span>
                                        </p>
                                        <ul class="switched-color-normals">
                                            {% for highlight in role.highlights %}
                                            <li>{{ highlight }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- ********* Education ********* -->
                    <div class="col-xs-12 col-md-6 resume-boxes">
                        <hr class="switched-color-headers">
                        <h3 class="switched-color-headers">Education</h3>
                        <div class="box">
                            <!-- AIET -->
                            <div class="row gx-5">
                                <div class="col-2 dis-n record-border"></div>
                                <div class="col-1 dis-y record-border"></div>
                                <div class="col-1 dis-y"></div>
                                <div class="col-10">
                                    <h5 class="switched-color-headers">Alexandria higher Institute of Engineering and Technology</h5>
                                    <p class="switched-color-normals">
                                        <span>BA, Electronics & Communications Engineering</span>
                                        <br>
                                        <span>Sep, 2019 - Sep, 2024</span>
                                    </p>
                                </div>
                            </div>
                            <br>
                            <!-- Coursera -->
                            <div class="row gx-5">
                                <div class="col-2 dis-n record-border"></div>
                                <div class="col-1 dis-y record-border"></div>
                                <div class="col-1 dis-y"></div>
                                <div class="col-10">
                                    <h5 class="switched-color-headers">Coursera</h5>
                                    <p class="switched-color-normals">
                                        <span>Specializations</span>
                                    </p>
                                    <ul class="switched-color-normals">
                                        <li>Google IT Support <br> Present</li>
                                        <li>Google IT Automation with Python <br> Oct, 2020</li>
                                    </ul>
                                </div>
                            </div>
                            <br>
                            <!-- Udacity -->
                            <div class="row gx-5">
                                <div class="col-2 dis-n record-border"></div>
                                <div class="col-1 dis-y record-border"></div>
                                <div class="col-1 dis-y"></div>
                                <div class="col-10">
                                    <h5 class="switched-color-headers">Udacity</h5>
                                    <p class="switched-color-normals">
                                        <span>Scholarships & Programs</span>
                                    </p>
                                    <ul class="switched-color-normals">
                                        <li>SUSE Cloud Native Foundations <br> Jun, 2021 - Aug, 2021</li>
                                        <li>Advanced Data Analysis <br> Oct, 2020 - Dec, 2020</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- ********* Volunteering ********* -->
                    <div class="col-xs-12 col-md-6">
                        <hr class="switched-color-headers">
                        <h3 class="switched-color-headers">Volunteer Experience</h3>
                        <div class="box switched-color-headers">
                            <!-- Udacity -->
                            <div class="row gx-5">
                                <div class="col-2 dis-n record-border"></div>
                                <div class="col-1 dis-y record-border"></div>
                                <div class="col-1 dis-y"></div>
                                <div class="col-10">
                                    <h5 class="switched-color-headers">Student Ambassador</h5>
                                    <p class="switched-color-normals">
                                        <span>Udacity</span>
                                        <br>
                                        <span>Dec, 2020 - Apr, 2021</span>
                                    </p>
                                </div>
                            </div>
                            <br>
                            <!-- GDSC -->
                            <div class="row gx-5">
                                <div class="col-2 dis-n record-border"></div>
                                <div class="col-1 dis-y record-border"></div>
                                <div class="col-1 dis-y"></div>
                                <div class="col-10">
                                    <h5 class="switched-color-headers">Core Team</h5>
                                    <p class="switched-color-normals">
                                        <span>Google DSC - AIET</span>
                                        <br>
                                        <span>Sep, 2019 - Apr, 2020</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ********* Tech Stack ********* -->
                    <div class="col-xs-12 col-md-6 resume-boxes">
                        <hr class="switched-color-headers">
                        <h3 class="switched-color-headers">Tech Stack</h3>
                        <div class="box switched-color-headers">
                            <div class="row" style="border-bottom: 2px solid #11a511; margin-top: 5px;">
                                <h6 class="col-6">Python</h6>
                                <span class="col-6" style="text-align:center;">Django, Flask, Selenium, Numpy, Pandas, Matplotlib, Regex, Tkinter, Pyside2, PyGitHub.</span>
                            </div>
                            <div class="row" style="border-bottom: 2px solid #11a511; margin-top: 5px;">
                                <h6 class="col-6">Javascript</h6>
                                <span class="col-6" style="text-align:center;">NodeJS, ExpressJS.</span>
                            </div>
                            <div class="row" style="border-bottom: 2px solid #11a511; margin-top: 5px;">
                                <h6 class="col-6">CI/CD Skills</h6>
                                <span class="col-6" style="text-align:center;">Git, GitHub Actions, Docker.</span>
                            </div>
                            <div class="row" style="border-bottom: 2px solid #11a511; margin-top: 5px;">
                                <h6 class="col-6">Frontend Skills</h6>
                                <span class="col-6" style="text-align:center;">HTML, CSS, Bootstrap 5.</span>
                            </div>
                            <div class="row" style="border-bottom: 2px solid #11a511; margin-top: 5px;">
                                <h6 class="col-6">Databases</h6>
                                <span class="col-6" style="text-align:center;">MongoDB, PostgresSQL, SQLlite3.</span>
                            </div>
                            <div class="row" style="border-bottom: 2px solid #11a511; margin-top: 5px;">
                                <h6 class="col-6">Familiar with</h6>
                                <span class="col-6" style="text-align:center;">C, C++, DOS & Bash scripting.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="switched-color-headers">
            </section>
            <!-- ********* End Resume ********* -->

            <br id="Projects">
            <br>
            <br>

            <!-- ********* Start Projects ********* -->
            <section class="container" id="dynamic-projects">
                <h2 class="switched-color-headers" style="text-align:center;">Projects _</h2>
                <p class="switched-color-normals" style="text-align: center;">
                    These are my recent and highlighted projects. However, more about my built projects can be viewed in these 3 repositories: <a href="https://github.com/XZANATOL/Interships-and-Contests" target="_blank" class="social-media" style="text-decoration: underline;">Work Projects</a>, <a href="https://github.com/XZANATOL/Practices" target="_blank" class="social-media" style="text-decoration: underline;">Side Projects</a>, <a href="https://github.com/XZANATOL/AIET-Side-Projects" target="_blank" class="social-media" style="text-decoration: underline;">College Projects</a>
                </p>
                <div class="row gy-3">
                    {% for project in projects %}
                        <div class="col-xs-12 col-md-4">
                            <div class="box">
                                <img src="{{ project.image }}" class="project_img">
                                <h5 class="switched-color-headers" style="margin-top: 5px;">{{ project.title }}</h5>
                                <p class="switched-color-normals" style="text-align:left; border-bottom: 2px solid #11a511; margin-top: 5px;">
                                    {{ project.description }}
                                </p>
                                <p style="text-align:center;"><a href="{{ project.link }}" target="_blank" class="social-media">Project Link</a></p>
                            </div>
                        </div>
                    {% endfor %}
                    <hr class="switched-color-headers">
                </div>
            </section>
            <!-- ********* End Projects ********* -->

            <br id="Blog">
            <br>
            <br>

            <!-- Start Blog -->
            <section class="container box" id="dynamic-blog">
                <h2 class="switched-color-headers" style="text-align:center;">Blog _</h2>
                <hr class="switched-color-normals">
                <br>
                <div id="blog_cont" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner" style="width: 100%;">
                        <!-- First Post -->
                        {% for post in latest %}
                            <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}" data-bs-interval="5000">
                                <div class="row">
                                    <div class="col-xs-12 col-md-5">
                                        <img src="{{ post.img }}" alt="post_image" style="width:100%; text-align: center;" />
                                    </div>

                                    <div class="col-xs-12 col-md-7">
                                        <div style="margin-left:12px;">
                                            <br>
                                            <h5 class="switched-color-headers">{{ post.title }}</h5>
                                            <p class="switched-color-normals">Created on {{ post.created }}</p>
                                            <p class="switched-color-normals">{{ post.body|truncatewords:50 }}... <a href="/blog/{{ post.cat }}/{{ post.slug }}" class="social-media" style="text-decoration: underline;">Read More</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <button class="carousel-control-prev d-none d-md-block" type="button" data-bs-target="#blog_cont" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next d-none d-md-block" type="button" data-bs-target="#blog_cont" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <br>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#blog_cont" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#blog_cont" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#blog_cont" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
            </section>
            <!-- End Blog -->

            <br id="Contact">
            <br>
            <br>

            <!-- Start Contact -->
            <section class="container box" id="dynamic-contact">
                <h2 class="switched-color-headers" style="text-align:center;">Get In Touch? _</h2>
                <p class="switched-color-normals" style="text-align:center;">I welcome new connections! Drop me a line and I’ll get back to you ASAP! :)</p>
                <hr class="switched-color-normals">
                <div class="row gx-5">
                    <!-- Contact Cards -->
                    <div class="col-xs-12 col-md-5 col-lg-5 switched-color-normals" style="padding: 30px;">
                        <p><strong>Email: </strong><a href="mailto: abdelrahmanbedox@gmail.com" class="social-media">abdelrahmanbedox@gmail.com</a></p>
                        <p><a href="https://www.linkedin.com/in/xzanatol" class="social-media" target="_blank">LinkedIn</a></p>
                        <p><a href="https://www.github.com/XZANATOL" class="social-media" target="_blank">GitHub</a></p>
                        <p><strong>Discord: </strong><span style="color:#11a511;">XZANATOL#1411</span></p>
                    </div>
                    <!-- Contatct Form -->
                    <div class="col-xs-12 col-md-7 col-lg-6" style="padding: 30px;">
                        <p class="switched-color-normals">Or write me a letter here:</p>
                        <form class="switched-color-normals" action="/portofolio/send_msg/" method="post" onsubmit="alert('Message Recieved!')">
                            {% csrf_token %}
                            <div>
                                <input type="text" name="name" placeholder="Your Name" class="form-properties switched-color-normals" maxlength="25" required />
                            </div>
                            <br>
                            <div>
                                <input type="email" name="email" placeholder="Your E-mail (optional)" class="form-properties switched-color-normals" maxlength="320" />
                            </div>
                            <br>
                            <div>
                                <input type="text" name="subject" placeholder="Subject" class="form-properties switched-color-normals" maxlength="100" required />
                            </div>
                            <br>
                            <div>
                                <textarea rows="6" name="message" class="input form-properties switched-color-normals" placeholder="Your message" style="border-width: 2px;" tabindex="4" maxlength="2000" required></textarea>
                            </div>
                            <br>
                            <div>
                                <input type="submit" value="Send" class="social-media button-hover-dark" style="width:100%; margin: 0px;" />
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <!-- *********** End Contact *********** -->
        </main>
        <!-- *********** End Main Content *********** -->
        <!-- No footer -->
    </body>
</html>
